@model GDG_Project.Models.Tournaments

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_BackeLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Tournaments</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TourName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TourName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TourDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TourDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TourDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TourDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Act)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Act.ActDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberInfoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberInfoNavigation.PAdress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TourId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
