
@{
    ViewData["Title"] = "الملف الشخصي";
}

<div class="container wrapper" dir="rtl">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 style="color: #8dd961;">
            الملف الشخصي
        </h1>

    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#activity" data-toggle="tab">الجوائز</a></li>
                        <li><a href="#timeline" data-toggle="tab">السلم الزمني</a></li>
                    </ul>
                    <div class="tab-content">
                        @{ int counter = 0;}
                        @if (ViewBag.tour != null)
                        {
                            <div class="active tab-pane" id="activity">
                                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators --> 
                                    @*<ol class="carousel-indicators">
                                        

                                            <li data-target="#myCarousel" data-slide-to="@counter" class=" @(counter == 0 ? "active" :"" )"></li>
                                            <li data-target="#myCarousel" data-slide-to="1"></li>
                                                <li data-target="#myCarousel" data-slide-to="2"></li>

                                         
                                        
                                    </ol>*@


                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">

                                        @foreach (var item in ViewBag.tour)
                                        {
                                            <div class="item @(counter == 0 ? "active" : "")">
                                                <img src="@item.MemberImg ">
                                                <div class="carousel-caption">
                                                    <h3>@item.TourName</h3>
                                                    <p>@item.TourDescription</p>
                                                </div>
                                            </div>
                                            @(counter = +1);
                                        }

                                    </div>

                                    <!-- Left and right controls -->
                                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>

                            </div>
                        }
                        <!-- ###################################/.tab-pane ########################################################-->
                        @{int ActCounter = 0; }
                        @if (ViewBag.Activty != null)
                        {
                            <div class="tab-pane" id="timeline">
                                <!-- The timeline -->
                                <ul class="timeline timeline-inverse">
                                    @foreach (var item in ViewBag.Activty)
                                    {
                                        <!-- timeline time label -->
                                        <li class="time-label">
                                            <span class="bg-red">
                                                @item.StartDate.ToString("dd/MM/yyyy")
                                            </span>
                                        </li>
                                        <!-- /.timeline-label -->
                                        <!-- timeline item -->
                                        <li>
                                            <i class="fa fa-dumbbell bg-blue "></i>

                                            <div class="timeline-item ">
                                                <h3 class="timeline-header ">بدايه الاشتراك في  @item.ActInfoNavigation.ActName</h3>
                                            </div>
                                        </li>
                                        <!-- END timeline item -->
                                        <!-- timeline item -->
                                        @(ActCounter = +1)
                                    }

                                </ul>
                            </div>
                        }
                        else
                        {
                            <div class="tab-pane" id="timeline">
                                <!-- The timeline -->
                                <ul class="timeline timeline-inverse">
                                    <!-- timeline time label -->
                                    <li class="time-label">
                                        <span class="bg-red">
                                            @Model.PStartDate.ToString("dd/MM/yyyy")
                                        </span>
                                    </li>
                                    <!-- /.timeline-label -->
                                    <!-- timeline item -->
                                    <li>
                                        <i class="fa fa-dumbbell bg-blue "></i>

                                        <div class="timeline-item ">
                                            <h3 class="timeline-header ">  بدايه الاشتراك في الاكاديميه  </h3>
                                        </div>
                                    </li>
                                    <!-- END timeline item -->
                                    <!-- timeline item -->


                                </ul>
                            </div>
                        }


                        <!--#################################################### /.tab-pane ######################################-->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 ">

                <!-- Profile Image -->
                <div class="box box-primary ">
                    <div class="box-body box-profile ">
                        <img class="profile-user-img img-responsive img-circle " src="@Model.PImg" alt="User profile picture " style=" margin: 0 auto;width: 100px;padding: 3px;border: 3px solid #d2d6de; ">

                        <h3 class="profile-username text-center ">@Model.PName</h3>


                        <p class="text-muted text-center ">@(Model.PType == Model.MembersLabel ? "متدربٍ" : "")</p>

                        <ul class="list-group list-group-unbordered ">
                            <li class="list-group-item ">
                                <b>السن</b> <a class="pull-left ">@(DateTime.Now.Year - Model.PBirthDate.Year)</a>
                            </li>
                            <li class="list-group-item ">
                                <b>عدد الانشطه</b> <a class="pull-left ">@ActCounter</a>
                            </li>
                            <li class="list-group-item ">
                                <b>الجوائز</b> <a class="pull-left ">@counter</a>
                            </li>
                        </ul>


                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
                <!-- About Me Box -->
                <div class="box box-primary ">
                    <div class="box-header with-border ">
                        <h3 class="box-title ">من انا</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body ">


                        <strong><i class="fa fa-map-marker margin-r-5 "></i> العنوان</strong>

                        <p class="text-muted ">@Model.PAdress</p>

                        <hr>

                        <strong><i class="fa fa-pencil margin-r-5 "></i> الانشطه</strong>

                        <p>
                            @if (ViewBag.Activty != null)
                            {
                                @foreach (var item in ViewBag.Activty)
                                {
                                    <span class="label label-danger "> @item.ActInfoNavigation.ActName</span>
                                }
                            }


                        </p>

                        <hr>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>


