@model IEnumerable<GDG_Project.Models.Activates>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_BackeLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">الانشطه </h3>
                        <a asp-action="Create"><button type="button" class="btn btn-primary" style="float:left">اضافه نشاط </button></a>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>المسلسل </th>
                                    <th>الاسم</th>
                                    <th>الحاله </th>
                                    <th>عدد المشتركين</th>
                                    <th>الاختيارات</th>
                                </tr>
                            </thead>
                            <tbody>



                                @foreach (var item in Model)
                                {
                                    <tr>
                                   <td>@item.ActId</td>
                                   <td> @item.ActName</td>
                                   <td> @(item.ActActive == item.Active ?"فعال" : "متوقف") </td>
                                   <td>@item.Member.Count() </td>
                                   <td> &nbsp &nbsp
                                        <a asp-action="Details" asp-route-id="@item.ActId"><i class="far fa-eye"></i></a>
                                         &nbsp &nbsp 
                                        <a asp-action="Edit" asp-route-id="@item.ActId"><i class="fas fa-pencil-alt"></i></a>
                                   </td>
                                    </tr>
                                }



                            </tbody>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

